<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
	<!--  config jdbc  -->
	<context:property-placeholder location="/WEB-INF/jdbc.properties" />
	
	<context:component-scan base-package="com.zn.wr.controller" />
	<context:component-scan base-package="com.zn.wr.dao" />
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" 
	  	destroy-method="close">
	  	<property name="driverClass">
	  		<value>${jdbc.driverClassName}</value>
	  	</property>
	  	
	  	<property name="jdbcUrl">
	  		<value>${jdbc.url}</value>
	  	</property>
	  	
	  	<property name="user">
	  		<value>${jdbc.username}</value>
	  	</property>
	  	
	  	<property name="password">
	  		<value>${jdbc.password}</value>
	  	</property>
	  	
	  	<property name="minPoolSize">
	  		<value>5</value>
	  	</property>
	  	
	  	<property name="maxPoolSize">
            <value>30</value>
        </property>
        <property name="initialPoolSize">
            <value>10</value>
        </property>
        <property name="maxIdleTime">
            <value>60</value>
        </property>
        <property name="acquireIncrement">
            <value>5</value>
        </property>

        <property name="maxStatements">
            <value>0</value>
        </property>

        <property name="idleConnectionTestPeriod">
            <value>60</value>
        </property>

        <property name="acquireRetryAttempts">
            <value>30</value>
        </property>

        <property name="breakAfterAcquireFailure">
            <value>true</value>
        </property>

        <property name="testConnectionOnCheckout">
            <value>false</value>
        </property>
	</bean>
</beans>